---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import { CartContent } from '../components/CartContent';
import Footer from '../components/Footer.astro';
---

<Layout title="Tedra | Basket">
  <Header />

  <div class="section section--collapsed">
    <div class="section__inner">
      <div class="section__content section__content--wide justify-center">
        <CartContent client:only="preact" />
      </div>
    </div>
  </div>

  <div class="section section--collapsed section--no-padding-top">
    <div class="section__inner">
      <div class="section__content">
        <p>All products are made to order. Shipping to Germany only. Orders can be expected to ship after 5 to 7 business days. An order-confirmation email will be sent, after your order has been manually reviewed.</p>
        <p>Shipping with DHL.</p>
        <p>Payment with PayPal.</p>
        <p>
          <a href="/conditions">Terms and conditions (German)</a> apply.
        </p>
      </div>
    </div>
  </div>

  <Footer />
</Layout>
