---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import { CartContent } from '../components/CartContent';
---

<Layout title="Tedra | Basket">
  <Header />

  <div class="section section--collapsed">
    <div class="section__inner">
      <div class="section__content section__content--wide justify-center">
        <div class="section__title">Basket.</div>
        <CartContent client:only="preact" />
      </div>
    </div>
  </div>

  <div class="section section--collapsed section--no-padding-top">
    <div class="section__inner">
      <div class="section__content">
        <p>All products are made to order. Shipping to germany only. Orders can be expected to ship after 5 to 7 business days. An order-confirmation email will be sent, after your order has been reviewed.</p>
        <p>Shipping with DHL.</p>
        <p>Payment with PayPal.</p>
        <p>
          <a href="#">Terms and conditions (PDF, German)</a> apply.
        </p>
      </div>
    </div>
  </div>
</Layout>
