---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Tedra | Imprint">
  <Header />

  <div class="section section--collapsed">
    <div class="section__inner">
      <h1 class="section__title">AGB</h1>
      <div class="section__content" lang="de-DE">
        <h2>§1 Geltung gegenüber Unternehmern und Begriffsdefinitionen</h2>
        <p class="section__text">(1) Die nachfolgenden Allgemeinen Geschäftbedingungen gelten für alle Lieferungen zwischen uns und einem Verbraucher in ihrer zum Zeitpunkt der Bestellung gültigen Fassung.</p>
        <p class="section__text">Verbraucher ist jede natürliche Person, die ein Rechtsgeschäft zu Zwecken abschließt, die überwiegend weder ihrer gewerblichen noch ihrer selbständigen beruflichen Tätigkeit zugerechnet werden können (§ 13 BGB).</p>
        <h2>§2 Zustandekommen eines Vertrages, Speicherung des Vertragstextes</h2>
        <p class="section__text">(1) Die folgenden Regelungen über den Vertragsabschluss gelten für Bestellungen über unseren Internetshop.</p>
        <p>
          (2) Im Falle des Vertragsschlusses kommt der Vertrag mit<br />
          Matthias Teifl<br />
          Hinter den Gärten 7<br />
          74357 Bönnigheim<br />
          zustande.
        </p>
        <p class="section__text">(3) Die Präsentation der Waren in unserem Internetshop stellen kein rechtlich bindendes Vertragsangebot unsererseits dar, sondern sind nur eine unverbindliche Aufforderungen an den Verbraucher, Waren zu bestellen. Mit der Bestellung der gewünschten Ware gibt der Verbraucher ein für ihn verbindliches Angebot auf Abschluss eines Kaufvertrages ab.</p>
        <p class="section__text">(4) Bei Eingang einer Bestellung in unserem Internetshop gelten folgende Regelungen: Der Verbraucher gibt ein bindendes Vertragsangebot ab, indem er die in unserem Internetshop vorgesehene Bestellprozedur erfolgreich durchläuft.</p>
        <p class="section__text">Die Bestellung erfolgt in folgenden Schritten:</p>
        <div class="ml20">
          1) Auswahl der gewünschten Ware<br />
          2) Bestätigen durch Anklicken der Buttons „Add to basket“ <br />
          3) Prüfung der Angaben im Warenkorb<br />
          4) Verbindliche Absendung der Bestellung durch Anklicken des Buttons „kostenpflichtig bestellen“ bzw. „kaufen“<br />
          <br />
        </div>
        <p class="section__text">Der Verbraucher kann vor dem verbindlichen Absenden der Bestellung durch Betätigen der in dem von ihm verwendeten Internet-Browser enthaltenen „Zurück“-Taste nach Kontrolle seiner Angaben wieder zu der Internetseite gelangen, auf der die Angaben des Kunden erfasst werden und Eingabefehler berichtigen bzw. durch Schließen des Internetbrowsers den Bestellvorgang abbrechen. Wir bestätigen den Eingang der Bestellung unmittelbar durch eine automatisch generierte E-Mail („Auftragsbestätigung“). Mit dieser nehmen wir Ihr Angebot an.</p>
        <p class="section__text">(5) Speicherung des Vertragstextes bei Bestellungen über unseren Internetshop: Wir senden Ihnen die Bestelldaten und unsere AGB per E-Mail zu. Die AGB können Sie jederzeit auch unter https://tedra.tech/conditions einsehen. Ihre Bestelldaten sind aus Sicherheitsgründen nicht mehr über das Internet zugänglich.</p>
        <h2>§3 Preise, Versandkosten, Zahlung, Fälligkeit</h2>
        <p class="section__text">(1) Die angegebenen Preise enthalten die gesetzliche Umsatzsteuer und sonstige Preisbestandteile. Hinzu kommen etwaige Versandkosten.</p>
        <p class="section__text">(2) Der Verbraucher hat die Möglichkeit der Zahlung per PayPal.</p>
        <h2>§4 Lieferung</h2>
        <p class="section__text">(1) Sofern wir dies in der Produktbeschreibung nicht deutlich anders angegeben haben, sind alle von uns angebotenen Artikel sofort versandfertig. Die Lieferung erfolgt hier spätesten innerhalb von 7 Werktagen. Dabei beginnt die Frist für die Lieferung im Falle der Zahlung per Vorkasse am Tag nach Zahlungsauftrag an die mit der Überweisung beauftragte Bank und bei allen anderen Zahlungsarten am Tag nach Vertragsschluss zu laufen. Fällt das Fristende auf einen Samstag, Sonntag oder gesetzlichen Feiertag am Lieferort, so endet die Frist am nächsten Werktag.</p>
        <p class="section__text">(2) Die Gefahr des zufälligen Untergangs und der zufälligen Verschlechterung der verkauften Sache geht auch beim Versendungskauf erst mit der Übergabe der Sache an den Käufer auf diesen über.</p>
        <h2>§5 Eigentumsvorbehalt</h2>
        <p class="section__text">Wir behalten uns das Eigentum an der Ware bis zur vollständigen Bezahlung des Kaufpreises vor.</p>
        <h2>§6 Widerrufsrecht des Kunden als Verbraucher:</h2>
        <h3>Widerrufsrecht für Verbraucher</h3>
        <p class="section__text">Verbrauchern steht ein Widerrufsrecht nach folgender Maßgabe zu, wobei Verbraucher jede natürliche Person ist, die ein Rechtsgeschäft zu Zwecken abschließt, die überwiegend weder ihrer gewerblichen noch ihrer selbständigen beruflichen Tätigkeit zugerechnet werden können:</p>

        <h3>Widerrufsbelehrung</h3>
        <h4>Widerrufsrecht</h4>
        <p class="section__text">Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen.</p>
        <p class="section__text">Die Widerrufsfrist beträgt vierzehn Tage, ab dem Tag, an dem Sie oder ein von Ihnen benannter Dritter, der nicht der Beförderer ist, die Waren in Besitz genommen haben bzw. hat.</p>
        <p class="section__text">Um Ihr Widerrufsrecht auszuüben, müssen Sie uns</p>
        <div style="margin-left:20px; margin-top: 5px; margin-bottom:5px;">
          Matthias Teifl<br />
          Hinter den Gärten 7<br />
          74357 Bönnigheim<br />
          E-Mail <span class="email-guard" data-mail="tedra-official" data-domain="web.de">@</span><br />
          Telefon <span class="email-guard" data-mail="07143" data-domain="4079970"> </span>
        </div>
        <p class="section__text">mittels einer eindeutigen Erklärung (z.B. ein mit der Post versandter Brief, Telefax oder E-Mail) über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren. Sie können dafür das beigefügte Muster-Widerrufsformular verwenden, das jedoch nicht vorgeschrieben ist.</p>
        <h4>Widerrufsfolgen</h4>
        <p class="section__text">Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, einschließlich der Lieferkosten (mit Ausnahme der zusätzlichen Kosten, die sich daraus ergeben, dass Sie eine andere Art der Lieferung als die von uns angebotene, günstigste Standardlieferung gewählt haben), unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet.</p>
        <p class="section__text">Wir können die Rückzahlung verweigern, bis wir die Waren wieder zurückerhalten haben oder bis Sie den Nachweis erbracht haben, dass Sie die Waren zurückgesandt haben, je nachdem, welches der frühere Zeitpunkt ist.</p>
        <p class="section__text">Sie haben die Waren unverzüglich und in jedem Fall spätestens binnen vierzehn Tagen ab dem Tag, an dem Sie uns über den Widerruf dieses Vertrages unterrichten, an uns zurückzusenden oder zu übergeben. Die Frist ist gewahrt, wenn Sie die Waren vor Ablauf der Frist von vierzehn Tagen absenden.</p>
        <p class="section__text">Sie tragen die unmittelbaren Kosten der Rücksendung der Waren.</p>
        <h2>§7 Widerrufsformular</h2>

        <h3>Muster-Widerrufsformular</h3>
        <p class="section__text">(Wenn Sie den Vertrag widerrufen wollen, dann füllen Sie bitte dieses Formular aus und senden Sie es zurück.)</p>
        <div style="border: 1px solid #fff;padding: 10px;">
          An:<br />
          Matthias Teifl<br />
          Hinter den Gärten 7<br />
          74357 Bönnigheim<br />
          <br />

          Hiermit widerrufe(n) ich/wir (*) den von mir/uns (*) abgeschlossenen Vertrag über den Kauf der folgenden Waren (*)/die Erbringung der folgenden Dienstleistung (*)<br />
          <br />
          _____________________________________________________<br />
          <br />
          Bestellt am (*)/erhalten am (*)<br />
          <br />
          __________________<br />
          <br />
          Name des/der Verbraucher(s)<br />
          <br />
          _____________________________________________________<br />
          <br />
          Anschrift des/der Verbraucher(s)<br />
          <br />
          <br />
          _____________________________________________________<br />
          <br />
          Unterschrift des/der Verbraucher(s) (nur bei Mitteilung auf Papier)<br />
          <br />
          __________________<br />
          <br />
          Datum<br />
          <br />
          __________________<br />
          <br />
        </div>
        <p class="section__text">(*) Unzutreffendes streichen.</p>

        <h2>§8 Gewährleistung</h2>
        <p class="section__text">Es gelten die gesetzlichen Gewährleistungsregelungen.</p>
        <h2>§9 Vertragssprache</h2>
        <p class="section__text">Als Vertragssprache steht ausschließlich Deutsch zur Verfügung.</p>
        <p class="section__text">Stand der AGB: Februar 2023</p>
      </div>
    </div>
  </div>

  <Footer />
</Layout>
