---
import { Sprite } from 'astro-icon';
import HeaderBasketButton from './HeaderBasketButton.astro';
import HeaderHamburger from './HeaderHamburger.astro';
---

<a href="/" class="header">
  <img class="header__logo" src="/img/logo.svg" alt="Tedra Logo" width="364" height="87" />
</a>

<div class="header__socials">
  <a class="header__social" href="https://open.spotify.com/artist/32NGcZaWSqKmHby7x1qhXG" target="_blank" rel="noopener" title="Tedra on Spotify">
    <Sprite name="spotify" class="header__social-icon header__social-icon--spotify" />
  </a>
  <a class="header__social" href="https://www.youtube.com/channel/UC6e5__fIRVQisZ4HfQc43fA" target="_blank" rel="noopener" title="Tedra on YouTube">
    <Sprite name="youtube" class="header__social-icon header__social-icon--youtube" />
  </a>
  <a class="header__social" href="https://www.instagram.com/tedra.tech" target="_blank" rel="noopener" title="Tedra on Instagram">
    <Sprite name="instagram" class="header__social-icon header__social-icon--instagram" />
  </a>
  <a class="header__social" href="https://soundcloud.com/tedraofficial" target="_blank" rel="noopener" title="Tedra on SoundCloud">
    <Sprite name="soundcloud" class="header__social-icon header__social-icon--soundcloud" />
  </a>
  <a class="header__social" href="https://www.beatport.com/artist/tedra/863465" target="_blank" rel="noopener" title="Tedra on Beatport">
    <Sprite name="beatport" class="header__social-icon header__social-icon--beatport" />
  </a>

  <HeaderBasketButton />
</div>

<HeaderHamburger />
