---
---

<a href="/basket" class="open-basket-button button is-hidden js--open-basket-link">Open Basket</a>

<script>
  import { getItemsFromStorage } from '../hooks/basket';
  let items = getItemsFromStorage();
  const $basketButton = document.querySelector('.js--open-basket-link')!;
  if (items.length !== 0) {
    $basketButton.classList.remove('is-hidden');
    $basketButton.textContent = `Open Basket (${items.length})`;
  }
</script>
