.react-modal-sheet-container {
  background: rgb(57, 57, 57) !important;
}

.react-modal-sheet-drag-indicator {
  background: rgb(98, 98, 98) !important;
}

.react-modal-sheet-content {
  padding: 0 15px 15px 15px;
}
