.close-button {
  appearance: none;
  background: none;
  border: none;
  color: #fff;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-family: Lato;
  text-decoration: none;

  &:hover {
    color: #fff;
  }
}

.close-button__text {
  opacity: 0;
  transform-origin: center center;
  transform: scale(0);
  transition: opacity 0.1s ease 0.05s, transform 0.2s ease;
  margin-right: 10px;

  .close-button:hover & {
    transform: scale(1);
    opacity: 1;
  }
}

.close-button__icon {
  background: #2c323c;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
