.input-field {
    position: relative;
    width: 100%;
}

input[type="text"],
input[type="email"] {
    background: none;
    border: none;
    color: #fff;
    border: 1px solid;
    line-height: 50px;
    padding: 0 15px;
    width: 100%;

    &:focus {
        outline: none;
        border-color: $color-primary;
    }

    &:-webkit-autofill {
        -webkit-text-fill-color: #fff;
        box-shadow: 0 0 0px 1000px #12151a inset;
        border-color: #fff;
        color: #fff;
    }

    &:-webkit-autofill:focus {
        border-color: $color-primary;
    }
}

textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 8em;
    background: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 15px;

    &:focus {
        outline: none;
        border-color: $color-primary;
    }
}
