.image-gallery {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  // Hide scrollbars
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
}

.image-gallery__item {
  flex: 0 0 85%;
  scroll-snap-align: start;

  @media (min-width: 768px) {
    flex: 0 0 auto;
  }
}

.image-gallery__image {
  aspect-ratio: 1;
}
