.offcanvas-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 300px;
    max-width: calc(100vw - 92px);
    transform: translateX(-100%);
    background: #12151a;
    display: flex;
    flex-direction: column;
    z-index: $z-index-offcanvas-menu;
}

.content-wrapper,
.offcanvas-menu {
    transition: transform .3s ease;
}

.is--menu-active .content-wrapper {
    transform: translate(300px, 0);
}

.is--menu-active .offcanvas-menu {
    transform: translate(0, 0);
}

.offcanvas-menu__trigger-container {
    position: absolute;
    left: 100%;
}

.offcanvas-menu__trigger {
    margin-left: auto;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        background: #12151a;
        transition: opacity .3s ease;

        .is--menu-active & { opacity: 1; }
    }
}

.offcanvas-menu__content {
    padding: 30px 0;
}

.offcanvas-menu__footer {
    margin-top: auto;
    text-align: center;
    padding: 15px;
    background: #181b22;
    font-size: 12px;
}

.offcanvas-menu__footer-link {
    color: #ECEFF4;
    text-decoration: none;
}
