.section {
    padding: 87px 30px 30px;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.section__inner {
    background: #12151a;
    min-height: 100%;
    flex: 1 0;
    overflow: hidden;
}

.section__content {
    padding: 15px 15px 30px;
    max-width: 620px;
    margin: 0 auto;
}

.section__title {
    color: #ECEFF4;
    margin: 0;
    padding: 15px;
    font-weight: 900;
    font-size: 60px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: 768px) {
        font-size: 80px;
    }
}

.section__subtitle {
    color: #eceff4;
    font-size: 40px;
    margin: 0;
    padding: 0 15px;
}
