.spotify-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.spotify-grid__link {
    display: flex;
    align-items: center;
    justify-content: center;
}
